In [21]:
pip install requests

Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2019.3.9)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests

In [2]:
city = input("Enter city : ")
key = "1a4c4f306c55a790989a33c6b9d37973"
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={key}"
page = requests.get(url)

Enter city : new york

In [3]:
page.status_code

200

In [4]:
page.headers['Content-Type']

'application/json; charset=utf-8'

In [5]:
data = page.json()

In [6]:
data

{'coord': {'lon': -73.99, 'lat': 40.73},
 'weather': [{'id': 802,
   'main': 'Clouds',
   'description': 'scattered clouds',
   'icon': '03d'}],
 'base': 'stations',
 'main': {'temp': 303.47,
  'pressure': 1017,
  'humidity': 52,
  'temp_min': 301.48,
  'temp_max': 305.37},
 'visibility': 16093,
 'wind': {'speed': 3.28, 'deg': 268.324},
 'clouds': {'all': 40},
 'dt': 1564590743,
 'sys': {'type': 1,
  'id': 4686,
  'message': 0.014,
  'country': 'US',
  'sunrise': 1564566679,
  'sunset': 1564618393},
 'timezone': -14400,
 'id': 5128581,
 'name': 'New York',
 'cod': 200}

In [7]:
print(*data.keys(),sep='\n')

coord
weather
base
main
visibility
wind
clouds
dt
sys
timezone
id
name
cod

In [8]:
data['name']

'New York'

In [9]:
data['wind']

{'speed': 3.28, 'deg': 268.324}

In [10]:
data['visibility']

16093

In [11]:
data['clouds']

{'all': 40}

In [12]:
data['weather']

[{'id': 802,
  'main': 'Clouds',
  'description': 'scattered clouds',
  'icon': '03d'}]

ss -tulpn # listing

In [13]:
import sqlite3 as sql

In [14]:
db = sql.connect("cities.db")

In [15]:
cursor = db.cursor()

In [16]:
cmd = "create table city(name varchar(100))"

In [17]:
cursor.execute(cmd)

In [18]:
db.commit()

In [19]:
cursor.close()

In [20]:
db.close()

<table>
    <tr>
        <td>City</td>    
        <td>Weather</td>
        <td>Description</td>
        <td>Wind Speed </td>
        <td>Wind Degree </td>
        <td> Clouds </td>
        <td> Visibility </td>
    </tr>
    <tr>
        <td>Jaipur</td>
        <td>clear</td>
        <td>all clear</td>
        <td> 66 </td>
        <td> 78 </td>
        <td> 5 </td>
        <td> 3000 </td>
 </table>

In [7]:
a=[5,10]

In [8]:
a.reverse()

In [9]:
a

[10, 5]

In [10]:
a

[10, 5]